

.feed {
    background-color:#ffffff;
    margin: 0 auto 0 auto;
    position: relative;
    text-align: center;
    margin-bottom: 20%;
    margin-top: 2%;
    width: 100%;
    max-width: 960px;
    
}

.body{
    background-color: #ffffff;
    text-align: center;
    
  padding: 2%;
  margin-bottom: 5%;
  margin-top: 7%;
  height: 100%;
}

.siteTitle{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #51bba1;
}

.videoBox{
    background-color: #f9f9f9;
    margin: 0px auto 0px auto;
    width: 100%;
}

.video{
    margin: 0px auto 10px auto;
    width: 100%;
    height: 100%;
    max-width: 960px;
    max-height: 540px;
}
.videoTitle{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: x-large;
    text-align: left;
    text-decoration: none;
    color: black;
}

.uploadText{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: medium;
    color: #51bba1;
}
/* elinas stupid buttons*/
.button{
    background-color: #51bba1; /* Green */
    color: white;
    border-radius: 20px;
    border: none;
    padding: 20px 0px;
    width: 20%;
    height: 100%;

    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: medium;
    text-align: center;
    text-decoration: none;
    
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
}

.button:hover{
    background-color: #44a38b; /* Green */
    
}

/*
.btn-group button {
    text-align: center;
    background-color: #ffffff; /* Green background *
    border: 1px solid #51bba1; /* Green border *
    color: #51bba1; /* White text *
    padding: 10px 24px; /* Some padding *
    cursor: pointer; /* Pointer/hand icon *
    float: left; /* Float the buttons side by side *

    position: fixed; /* Set the navbar to fixed position *
    bottom: 0; /* Position the navbar at the bottom of the page *
    width: 100%; /* Full width *

  }
  
  .btn-group button:not(:last-child) {
    border-right: none; /* Prevent double borders *
  }
  
  /* Clear floats (clearfix hack) *
  .btn-group:after {
    content: "";
    clear: both;
    display: table;
  }
  
  /* Add a background color on hover *
  .btn-group button:hover {
    background-color: #51bba1;
    color: #ffffff;
  }
*/

/*menu bar*/
.btn-group {
    margin: 0;
    float: left;
    overflow: hidden;
    background-color: #f2f2f2;
    position: fixed;
    display: inline-flex;
    justify-content: center;
    bottom: 0;
    text-align: center;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: medium;
    transform: translate(-50%, 0%); /*this maked it center*/
}
  
  .btn-group a {

    display: inline-block;
    list-style-type: none;
    padding: 10px 40px;
  }

  .header {
    margin: 0;
    float: left;
    overflow: hidden;
    background-color: #fafafa;
    position: fixed;
    display: inline-flex;
    justify-content: center;
    top: 0;
    text-align: center;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    transform: translate(-50%, 0%); /*this maked it center*/
}
  
  .header a {
  
    display: inline-block;
    list-style-type: none;
    color: #51bba1;
    padding: 4px 40px;
    text-decoration: none;
    font-size: 17px;
  }

  .video_header a{
    transform: translate(-23%, 0%);  

  }

  .upload{
    background-color: #fff;
    text-align: center;
    max-width: 400px;
    max-height: 400px; 
    margin: 100px auto 110px auto;
  }

  .comment{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: medium;
    width: 100%;
  }

  .time{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: x-small;
  }

  .user{
    float: left;
    background: #51bba1;
    color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    margin-right: 10px;

 }

 .comment-wrapper{
  

 }

 .comment-body{
   text-align: left;
   font-family: 'Montserrat', sans-serif;
   font-size: medium;

}

.comment-footer{
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  font-size: x-small;
  color: grey;
} 
.reply-btn{
  padding: 0;
  border: none;
  background: none;
  font-family: 'Montserrat', sans-serif;
  font-size: small;
  color: #51bba1;
}

.panel{
  margin-top: 10px;
}

.comment-bar{
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: medium;
  border-radius: 20px;
  border:  none;
  padding: 2.5px 5px;
  width: 70%;
  max-width: 1000px;
  height: 50px;
}

#comment_form{
  width: 100%;
}

.bye{
  /*display: none !important;*/
}

#poll-btn-group{
  display: none;
}

#display_poll{
  display: none;
}


.vote-btn{
  border: none;
  border-radius: 8px;
  padding: 1% 4%;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: medium;
  margin: 1%;


}
.vote-btn-1{
  background:#d34071;
  
}
.vote-btn-1:hover{
  background:#b63962; /* Green */
  
}

.vote-btn-2{
  background:#d58c3e;
  
}

.vote-btn-2:hover{
  background:#c27f38;
  
}

.vote-btn-3{
  background:#b0cc52;
}
.vote-btn-3:hover{
  background:#95ad46;
}

.vote-btn-4{
  background:#6a61ab;
}
.vote-btn-4:hover{
  background:#58518f;
}



.vote-btn-group {
  margin: 0;

  
  overflow: hidden;
  background-color: #f2f2f2;
  position: fixed;
  
  justify-content: center;
  bottom: 0;
  text-align: center;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: medium;
  transform: translate(-50%, 0%); /*this maked it center*/
}

.Vote-btn{
  transform: translate(-96%, 0%);

}

.vote-button{
  background-color: #51bba1; /* Green */
  color: white;
  width: 100%;
  max-width: 960px;
  border: none;
  padding: 20px 0px;

}
.vote-button:hover{
  background-color: #44a38b; /* Green */
  }

  .poll{
    font-family: 'Montserrat', sans-serif;
    position: relative;
  
  }

  #poll_headline{
    text-transform:capitalize;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: x-large;
    display: none;
    padding: 2% 2%;
  }
  
  .poll_style{
    font-family: 'Montserrat', sans-serif;
    max-width: 960px;
  }

  .poll_style label{
    position: relative;
    cursor: pointer;
    

  }

  .poll_style label input{
    display: none !important; 
  }

  .poll_style label span{
    font-family: 'Montserrat', sans-serif;
    display: block;
    text-transform:capitalize;
    text-align: left;
    padding:2% 0%;
    padding-left: 2%;
    padding-left: 2%;
    font-weight: 600;
    font-size: medium;
    position: relative;
    margin: 0px 0px;
    width: 98%;
    max-width: 960px;
    background-color: white;
    border: 1px solid  #51bba1;
    color: #51bba1;

  }

  .poll_style label span:hover{
    background-color: #51bba1;
    border: 1px solid  #51bba1;
    color: white;
  }

  .poll_style label input:checked ~ span{
    background-color: #51bba1;
    border: 1px solid  #51bba1;
    color: white;
  }

  .Add-box{
    display: inline-flex; 
    width: 100%;      
    
  }

  .Add-text{
    
    
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: medium;
    width: 100%;
    max-width: 960px;
    border: 1px solid  #51bba1;
    padding:2% 0%;
    padding-left: 5%;
  }

  .Add-check{
    max-width: 150px;
    width: 100%;
    padding:10% 0%;
    padding-left: 10%;
    font-weight: 600;
    font-size: medium;
    text-align: left;
    background-color: white;
    border: 1px solid  #51bba1;
    color: #51bba1;

  }
  .poll_style label .Add-check:hover{
    background-color: #51bba1;
    border: 1px solid  #51bba1;
    color: white;
    
  }

  .poll_style label input:checked ~ .Add-check{
    background-color: #51bba1;
    border: 1px solid  #51bba1;
    color: white;

  }

  .results{
    text-transform:capitalize;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: x-large;
    color: #51bba1;

  }

  .construction{
    display: block;
    
    width: 90%;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 5%;
  }

  
